html{
    width: 100vw
}

:root{
    --main-color: #1C1C1C;
    --main-text-color: lightgrey;
    --main-background: #2D2D2D;
    --main-bigtitle: white;
}

body{
    background-color: var(--main-color);
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face{
    font-family: "Varela Round";
    src: url("../font/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Thin.ttf");
}

/* useless for now
@media screen and (min-width: 1600px){
    @viewport{
    }
}
*/

#random-button{
    font-family: 'Varela Round';
    font-size: 25px;
    text-align: center;
    width:400px;
    height:80px;
    border-radius: 10px;
    border:2px solid white;
    outline: none;
    margin-bottom: 250px;
    transition: transform .2s;
    cursor: pointer;
}


#random-button:hover{
    transform: scale(1.02);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
}

.BigTitle{
    font-family: 'Varela Round';
    font-size: 100px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.smallerTitle{
    font-family: 'Varela Round';
    font-style: italic;
    color: grey;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
}

footer{
    position: static;
    bottom: 0;
    clear: both;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    justify-content: center;
}

.suggestions{
    font-family: 'Anonymous Pro', monospace;
    outline: none;
    background: none;
    border:none;
    color: var(--main-text-color);
    font-size: 15px;
    cursor: pointer;
    cursor:pointer;
    position: relative;
    right: -50px;
    bottom: 15px;
}

.GH{
    cursor: pointer;
    position: relative;
    left: -100px;
    bottom: -20px;
    border:none;
    outline: none;
    background-color: none;
    background:none;
    filter: brightness(150%);
    transition: filter .1s;
}

.GH:hover{
    filter:brightness(200%);
}

.creditsanddate{
    font-family: 'Roboto';    
    color: var(--main-text-color);
    font-size: 15px;
    position: relative;
    top: 0px;
    left: -20px;
    text-align: center;
    display: grid;
    justify-content: center;
    bottom: 0;
}

/*buttons*/
@media only screen and (max-width: 768px) {
    .FMALDportal{
        scale: 70%;
    }
}
  
@media only screen and (max-width: 320px) {
    .FMALDportal{
        scale: 50%;
        left: -120px;
    }
}

.FMALDportal{
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    bottom: 150px;
    background: var(--main-background);
    height: 50px;
    width: 480px;
    border-radius: 5px;
}

.FMALDportal .tip{
    font-family: "Varela Round";
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: RGBA(50, 50, 50, 0.9);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 5px RGBA(50, 50, 50, 0.9);

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.FMALDportal .tip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.FMALDportal:hover .tip {
    visibility: visible;
    opacity: 1;
}

.FMALDportal button{
    font-family: "Anonymous Pro", monospace;
    color: white;
    text-align: center;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 35px;
    width: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


.FMALDALL{
    left: 5px;
}

.FMALDDEBIAN{
    left: 65px;
}

.FMALDARCH{
    left: 125px;
}

.FMALDGENTOO{
    left: 185px;
}

.FMALDREDHAT{
    left: 245px;
}

.FMALDSUSE{
    left: 305px;
}

.FMALDSLACK{
    left: 365px;
}

.FMALDOTHER{
    left: 425px;
}

.FMALDEOL{
    left: 545px;
}

hr{
    position:absolute;
    left: 480px;
    background-color: #fff;
    border-radius: 5px;
    border:none;
}

.EOLsettings button{
    font-family: "Anonymous Pro", monospace;
    color: white;
    text-align: center;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 35px;
    width: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.EOLon{
    left: 5px;
}

.EOLoff{
    left: 65px;
}

.EOLonly{
    left: 125px;
}

.EOLsettings{
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    bottom: 130px;
    background: var(--main-background);
    height: 50px;
    width: 180px;
    border-radius: 5px;
}

.EOLsettings .tip{
    font-family: "Varela Round";
    font-size: 12px;
    visibility: hidden;
    width: 200px;
    background-color: RGBA(50, 50, 50, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    border: 5px RGBA(50, 50, 50, 0.9);
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 30%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.EOLsettings .tip ::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.EOLsettings:hover .tip {
    visibility: visible;
    opacity: 1;
}

#dmbutton{
    background-color: none;
    background:none;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2%;
    display: grid;
    justify-content: center;
    filter: brightness(100%);
    transition: filter .1s;
    cursor: pointer;
}

#dmbutton:hover{
    filter: brightness(150%);
}

#dmimg{
    width: 40px;
    height: 40px;
    cursor: pointer;
}